<img class="pokeball-back" id="pokeballBack"
     src="//hanashiro.github.io/pokedex/images/pokeball.svg" />

{{ input id="pokeFilter" placeholder="Search" value=pkmFilter }}

<ul class="poke-list" id="pokeList" >
  {{#each pkmList as |pokemon|}}
    <li class="poke-list-item" >
      <a href="#">
        <img src="//serebii.net/pokedex-xy/icon/{{format-number pokemon.number}}.png" />
        <span>{{format-number pokemon.number}} - {{pokemon.name}}</span>
      </a>
    </li>
  {{/each}}
</ul>

{{outlet}}